// stylelint-disable selector-class-pattern
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  color: #fff;
  text-decoration: none;
}

.resp-sharing-button {
  padding: .5em .75em;
  border-radius: 5px;
  transition: 25ms ease-out;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: .4em;
  vertical-align: top;
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle;
}

.resp-sharing-button__icon {
  fill: none;
  stroke: #fff;
}

.resp-sharing-button__icon--solid {
  fill: #fff;
  stroke: none;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}
